# macOS
.DS_Store
Thumbs.db

# Flutter / Dart
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
**/build/

# IDE
.vscode/
.idea/
*.iml

# Binary / Generated
*.class
*.o
*.so
*.dylib
*.exe
app.*.symbols
app.*.map.json

# Logs
*.log
